<md-toolbar color="primary">
    <span>{{title}}</span>
</md-toolbar>

<div class="container container-socboard">
    <div class="col-md-6">
        <md-card class="card-socboard">
            <md-card-title>Next Bus from High Street</md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <p>
                            {{ timetableHighStToHtml() }}
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <p>Test <br> test</p>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-md-6">
        <md-card>
            <md-card-title>Next Bus from Anzac Parade</md-card-title>
            <md-card-content>
                <p>
                    392 from cnr. Anzac Pde. and Barker St. in 2 minutes.
                    <br>
                    Buses appear to be mostly empty. No delays expected.
                </p>
            </md-card-content>
        </md-card>
    </div>
</div>
<div class="container">
    <div class="col-md-6">
        <md-card class="card-socboard">
            <md-card-title>Socs is currently closed.</md-card-title>
        </md-card>
    </div>
    <div class="col-md-6">
        <md-card class="card-socboard">
            <md-card-title>CSESoc News</md-card-title>
            <md-card-content>
                <div>
                    <h4>
                        CSESoc's End of Semester BBQ and Bake Off Competition
                    </h4>
                    <p>
                        CSESoc is bringing you the biggest and best BBQ of the entire semester: THE AWESOME BBQ!!!
                        <br>
                        LOCATION: John Lions Gardens, Outside K17.
                        <br>
                        DATE & TIME: Monday 29th May, 12:30PM - 3:00PM.
                    </p>
                </div>
                <div>
                    <h4>
                        Beta Issue 130
                    </h4>
                    <p>
                        Want to learn more about security? Want to discover the hidden secrets of coding style? This week's Beta will deliver not only that, but much much more!
                        <br>
                        <a href="https://drive.google.com/file/d/0Byf2RRIUaSnAdW9jeVZWNFdwQWs/view"> Check it out here!</a>
                    </p>
                </div>
            </md-card-content>
        </md-card>
    </div>

</div>
