<md-toolbar color="primary">
    <span>{{title}}</span>
</md-toolbar>

<div class="container container-socboard">
    <div class="col-md-6">
        <md-card class="card-socboard">
            <md-card-title>Next Bus to Central</md-card-title>
            <md-card-content>
                <p>
                    891 from Gate 3 in 5 minutes.
                    <br>
                    Buses appear to be very crowded. Expect significant delays.
                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1392.0928805568335!2d151.23006141387688!3d-33.91608117385571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b18b2fe7ad51%3A0x19f3dd3e960d6280!2sUNSW+Gate+3%2C+High+St!5e0!3m2!1sen!2sau!4v1495955944982" width="450" height="300" frameborder="0" style="border:0;" allowfullscreen>
                </iframe>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-md-6">
        <md-card>
            <md-card-title>Next Bus to Town Hall</md-card-title>
            <md-card-content>
                <p>
                    392 from cnr. Anzac Pde. and Barker St. in 2 minutes.
                    <br>
                    Buses appear to be mostly empty. No delays expected.
                </p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2341.1371341445706!2d151.22631772280772!3d-33.91879964585413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b18ea2f5e98d%3A0x88928ff2509413bf!2sAnzac+Pde+Near+Barker+St!5e0!3m2!1sen!2sau!4v1495956177970" width="450" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </md-card-content>
        </md-card>
    </div>
</div>
<div class="container">
    <div class="col-md-6">
        <md-card class="card-socboard">
            <md-card-title>Socs is currently closed.</md-card-title>
        </md-card>
    </div>
    <div class="col-md-6">
        <md-card class="card-socboard">
            <md-card-title>CSESoc News</md-card-title>
            <md-card-content>
                <div>
                    <h4>
                        CSESoc's End of Semester BBQ and Bake Off Competition
                    </h4>
                    <p>
                        CSESoc is bringing you the biggest and best BBQ of the entire semester: THE AWESOME BBQ!!!
                        <br>
                        LOCATION: John Lions Gardens, Outside K17.
                        <br>
                        DATE & TIME: Monday 29th May, 12:30PM - 3:00PM.
                    </p>
                </div>
                <div>
                    <h4>
                        Beta Issue 130
                    </h4>
                    <p>
                        Want to learn more about security? Want to discover the hidden secrets of coding style? This week's Beta will deliver not only that, but much much more!
                        <br>
                        <a href="https://drive.google.com/file/d/0Byf2RRIUaSnAdW9jeVZWNFdwQWs/view"> Check it out here!</a>
                    </p>
                </div>
            </md-card-content>
        </md-card>
    </div>

</div>
